**/.git
**/.svn
**/.png
**/*.jpg
**/.hg
**/node_modules
**/.next
storage
.env*
.DS_Store
.all-contributorsrc
.dockerignore
.gitignore
LICENSE
*.code-workspace
*.sql
*.http
**/.temp/*
supabase/.branches/*
*.toml
.github/CODEOWNERS
.prettierignore
.nvmrc
Dockerfile
justfile
CHANGELOG.md
.vscode
