.container {
	padding: 0 2rem;
}
.footer {
	display: flex;
	padding: 1rem;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}
.webcam {
	display: none;
}
.output {
	margin: 0 auto;
	width: 100%;
}
.status {
	position: absolute;
	top: 12px;
	right: 20px;
	background-color: grey;
	padding: 8px;
	box-shadow: 2px 2px black;
	font-family: monospace;
}
.performance {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 8px;
	font-size: 0.8rem;
	font-family: monospace;
}
.standStillHint {
	background-color: black;
	color: white;
	font-size: xx-large;
	text-align: center;
	width: 100vw;
}

.detectionText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	color: white;
	font-size: xx-large;
}

.imageGridContainer {
	background-color: black;
	color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.generatedImageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	color: white;
	font-size: xx-large;
	gap: 48px;
}
