.container {
	padding: 0 2rem;
}
.footer {
	display: flex;
	padding: 1rem;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}
.webcam {
	display: none;
}
.output {
	margin: 0 auto;
	width: 100%;
}
.performance {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 8px;
	font-size: 0.8rem;
	font-family: monospace;
}
.standStillHint {
	background-color: black;
	color: white;
	font-size: xx-large;
	text-align: center;
	width: 100vw;
}

.detectionText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	color: white;
	font-size: xx-large;
}

.imageGridContainer {
	background-color: black;
	color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.generatedImageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	color: white;
	font-size: xx-large;
	gap: 48px;
}

.mainContainer {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	color: white;
}

.fadeOut {
	animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.2;
	}
}

.fadeIn {
	animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0.2;
	}
	to {
		opacity: 1;
	}
}

.defaultColor {
	color: #0b0c13;
}

.highlightColor {
	color: #908bd7;
}

.centerBox {
	box-shadow: inset 0px 0px 6px 5px rgba(144, 139, 215, 0.3);
}
