@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "National";
	src: url("../fonts/National-Regular.otf") format("opentype");
}

@counter-style decimal-leading-zero-no-dot {
	system: extends decimal-leading-zero;
	suffix: "";
}
